src/main/app/implementacion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081"  doc:name="HTTP Request Configuration"/>
    <flow name="vuelos">
        <flow-ref name="setVarFlow" doc:name="setVarFlow"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.destino!=empty]">
                <flow-ref name="getFlight" doc:name="getFlight"/>
            </when>
            <otherwise>
                <flow-ref name="getAllFlights" doc:name="getAllFlights"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getAllFlights">
        <http:request config-ref="HTTP_Request_Configuration" path="/systemapi/vuelos" method="GET" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="getFlight">
        <http:request config-ref="HTTP_Request_Configuration" path="/systemapi/vuelos/destino" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="destino" value="#[destino]"/>
            </http:request-builder>
        </http:request>
    </flow>
    <sub-flow name="setVarFlow">
        <set-variable variableName="destino" value="#[message.inboundProperties.'http.query.params'.destino]" doc:name="Variable"/>
    </sub-flow>
</mule>
